<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'品牌_ID:' %><br>
    <%= f.text_field :Brand_ID %>
  </div>
  <div class="field">
    <%= f.label :'品牌名(英):' %><br>
    <%= f.text_field :Brand_name %>
  </div>
  <div class="field">
    <%= f.label :'品牌名(中):' %><br>
    <%= f.text_field :Brand_cname %>
  </div>
  <div class="actions">
    <%= f.submit "新增"%>
  </div>
<% end %>