<h1>編輯產品</h1>

<%= form_for @product, :url => { :controller => 'products', :action => 'update' } do |f| %>

    <div class="field">
      <%= f.label :'產品_ID:' %><br>
      <%= f.number_field :Product_ID %>
    </div>
	<div class="field">
	  <%= f.label :'產品名(英):' %><br>
	  <%= f.text_field :Product_name %>
	</div>
	<div class="field">
	  <%= f.label :'產品名(中):' %><br>
	  <%= f.text_field :Product_cname %>
	</div>
</br>
    <%= f.submit "編輯產品" %>
<% end %>
</br>
<%= link_to '回產品', brand_path(@brand) %>