<h1>產品細節</h1>
<div class="span12">
  <table>
  	  <tr>
	    <th><h3>品牌 ID:</h3></th>   <td><h3><%= @brand.Brand_ID %></h3></td>
	  </tr>
	  <tr>
	    <th><h3>品牌名(英):</h3></th>   <td><h3><%= @brand.Brand_name %></h3></td>
	  </tr>
	  <tr>
	    <th><h3>品牌名(中):</h3></th>    <td><h3><%= @brand.Brand_cname %></h3></td>
	  </tr>

  	  <tr>
	    <th><h3>產品 ID:</h3></th>   <td><h3><%= @product.Product_ID %></h3></td>
	  </tr>
	  <tr>
	    <th><h3>產品名(英):</h3></th>   <td><h3><%= @product.Product_name %></h3></td>
	  </tr>
	  <tr>
	    <th><h3>產品名(中):</h3></th>    <td><h3><%= @product.Product_cname %></h3></td>
	  </tr>
  
  </table>
		&nbsp;
		&nbsp;

	<div class="group pull-right">

		<%= link_to '新增產品', new_brand_product_path(@brand) %>
		&nbsp;
		&nbsp;
		&nbsp;
		<%= link_to("編輯產品", edit_brand_product_path)%>
		&nbsp;
		&nbsp;
		&nbsp;
		<%= link_to '新增成分', new_brand_product_ingredient_path(@brand, @product, @ingredient) %>
		&nbsp;
		&nbsp;
		&nbsp;
		<%= link_to '返回', brand_path(@brand) %>
	</div>
</div>

<h2>成分列表</h2>
	
	<table class="table">

		<tbody>
			  <tr>
			    <th>成分ID</th>

    			<th>成分名(英)</th>

    			<th>成分名(中)</th>

    			<th>CAS編號</th>

    			<th colspan="4"></th>
  			  </tr>


			<% @ingredients.each do |ingredient| %>
			<tr>
				<td> <%= ingredient.Ingredient_ID %> </td>
				<td> <%= ingredient.Ingredient_name %> </td>
				<td> <%= ingredient.Ingredient_cname %> </td>
				<td> <%= ingredient.CAS_Number %> </td>

				<td> 
				<%= link_to("查詢", brand_product_ingredient_path(@brand.id, ingredient.product_id, ingredient))%>
				<%= link_to("編輯", edit_brand_product_ingredient_path(@brand.id, ingredient.product_id, ingredient))%>
 				<%= link_to("刪除", brand_product_path(@brand.id, ingredient.product_id, ingredient), :method => :delete, :confirm => "Are you sure?" ) %> </td>


			</tr>
			<% end %>


		</tbody>
	</table>
</div>



